.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

.git/
.gitignore

data/raw/*
data/processed/*
database/*.db
database/*.sqlite
database/*.sqlite3
models/*.joblib
models/*.pkl
reports/*

.DS_Store
Thumbs.db

.idea/
.vscode/